<div class="green">

  <% if current_user %>
    <h3 class="page-content">
      <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary" %>

      <br/><br/>

      <%= link_to "Delete Post",
        post_path(@post),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn btn-primary"
      %>

      <br/><br/>
    </h3>
  <% end %>

  <h3 class="page-content">
    <%= @post.title %>
  </h3>

  <br/>

  <h4 class="post-content">
    <%= @post.content %>
  </h4>

  <br/><br/><br/><br/>

</div>
